@import './styles/abyss-theme.css';
@import './styles/acid-theme.css';
@import './styles/aqua-theme.css';
@import './styles/autumn-theme.css';
@import './styles/black-theme.css';
@import './styles/bumblebee-theme.css';
@import './styles/cupcake-theme.css';
@import './styles/cyberpunk-theme.css';
@import './styles/halloween-theme.css';
@import './styles/dracula-theme.css';
@import './styles/dark-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";


html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    position: relative;
}

@media (min-width: 640px) {
    .sm\:inline {
        display: inline;
    }
}

.overflow-y-auto {
    scroll-behavior: smooth;
}

.underline-on-hover {
    text-decoration: none; /* No underline initially */
    transition: text-decoration 0.3s ease; /* Smooth transition */
}

.underline-on-hover:hover {
    text-decoration: underline; /* Underline on hover */
}